*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff9e8;
}
@font-face{
    font-family: young;
    src:url(css/fonts/young.ttf);
}
@font-face{
    font-family: dolly;
    src:url(css/fonts/dolly.ttf)
}
h1{
    font-family: young;
    font-size: 60px;
    font-weight: normal;
    padding-top: 50px;
    color: #330d15ff;
}
h2{
    font-family: dolly;
    font-size: 40px;
    font-weight: normal;
    color: #330d15ff;
}
.head{
    display: flex;
    justify-content: center;
}
.lyrics{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #330d15ff;
}
p{
    padding-bottom: 43px;
}
img{
    width: 460px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}
.two-column{
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr 1fr;
    padding-top: 40px;
    padding-left: 360px;
    padding-right: 320px;
    padding-bottom: 100px;
}
.play{
    padding-top: 20px;
}